/* ini css */

.titan-one-regular {
    font-family: "Titan One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  

.main-header 
{
    display: flex
;
    justify-content: space-between;
    align-items: center;
    
    border: 5px solid darkorange;
    display: flex
;
    padding: 8px;
    border-radius: 25px;
    background: #333
}

.main-logo 
{
width: 50px;
height: 50px;
border: 1px solid;
background-image: url(../assets/51.jpg);
background-position: center;
background-size: cover;
border: 5px solid white;
border-radius: 25%;
}

nav > a {
        padding: 8px;
        border: 5px darkorange;
        border-radius: 15%;
        text-decoration: none;
        color: darkorange;
    }



.banner-img {

    border: 5px solid;
    height: 500px;
    border-radius: 1%;
    align-content: center;
    text-align: center;
    border-image: linear-gradient(to bottom, #333, darkorange) 1 100%;
    padding: 4px;
    background-size: cover;
    background-position: center;
}

.banner-1 {
    background-image: url(../assets/31.jpg);
}

.banner-2 {
    background-image: url(../assets/32.jpg);
}

.banner-3 {
    background-image: url(../assets/33.jpg);
}


.about-us {
    border: 5px solid;
    height: 200px;
    border-radius: 1%;
    align-content: center;
    text-align: center;
}

.products-content {
    border: 5px solid;
    height: 500px;
    border-radius: 1%;
    align-content: center;
    text-align: center;

}

.order-content {
    background-color: #007bff;
    height: 100px;
    justify-content: center;
    border-radius: 1%;
    align-content: center;
    text-align: center;
}

footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
    margin-top: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

.form-container {
    width: 45%;
}

.result-container {
    width: 45%;
    border-left: 2px solid #ddd;
    padding-left: 20px;
}

h2, h3 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-top: 10px;
    font-weight: bold;
}

input, textarea, button {
    margin-top: 5px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

.gender {
    display: flex;
    gap: 10px;
    align-items: center;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 15px;
}

button:hover {
    background-color: #0056b3;
}

/* Responsif */
@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }

    .form-container, .result-container {
        width: 100%;
        border-left: none;
    }
}

@media only screen and (max-width : 480px) {
    .main-header {
        flex-direction: column;
    }
    
    
}